virtual/bin/**
virtual/lib/**
.vscode/
src/__pycache__/construtiva.cpython-36.pyc
src/__pycache__/distancias.cpython-36.pyc
src/__pycache__/distancias.cpython-36.pyc
src/__pycache__/neighborhood.cpython-36.pyc
src/__pycache__/vnd.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/__pycache__/__init__.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/__pycache__/__init__.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/__pycache__/appdirs.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/__pycache__/pyparsing.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/__about__.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/__init__.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/_compat.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/_structures.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/markers.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/requirements.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/specifiers.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__/version.cpython-36.pyc
virtual/lib/python3.6/site-packages/pkg_resources/extern/__pycache__/__init__.cpython-36.pyc
